*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid rgb(36, 36, 211, 0.5);
    width: 800px;
    height: 480px;
}

h1{
    font-size: 46px;
    padding: 10px 0 0 10px;
    font-weight: 600;
}

fieldset{
    margin: 4px;
}

.content{
    margin: 6px;
    width: 570px;
    height: 250px;
}

.to .example{
    margin-right: 60px;
    font-size: 16px;
}

.to > input{
    width: 170px;
    height: 24px;
    padding: 2px;
}

.to{
    margin: 2px 0;
}

.email{
    margin: 2px 0;
}

.email > label{
    margin-right: 6px;
    font-size: 16px;
}

.email > input{
    width: 170px;
    height: 24px;
    padding: 2px;
}

.mess{
    height: 165px;
    width: 650px;
    display: flex;
    margin: 4px 0;
}

.mess > label{
    line-height: 165px;
    margin-right: 25px;
    font-size: 16px;
}

.mess > textarea{
    width: 50%;
}

.file{
    margin: 2px 0;
    height: 20px;
}

.file > label{
    font-size: 16px;
    line-height: 20px;
}

.file > input{
    font-size: 12px;
    width: 68px;
    height: 22px;
    padding: 2px;
}

.content-found{
    margin: 6px;
    width: 570px;
    height: 46px;
}

.google{
    height: 24px;
    margin: 2px 0;
}

.google > label{
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
}

.google > select{
    width: 100px;
    height: 22px;
    padding: 2px;
    font-size: 14px;
    line-height: 22px;
}

.new{
    margin: 2px 0;
    height: 24px;
    width: 750px;
}

.new .letter{
    margin-right: 90px;
}

.new > label{
    font-size: 16px;
    line-height: 24px;
}

.new > input{
    width: 16px;
    height: 16px;
}

.send{
    margin: 4px;
    height: 24px;
    width: 90px;
    font-size: 14px;
    line-height: 24px;
}

